{% extends 'home.html' %}
{% block content %}
{% load static %}
<h1>About page</h1>
<center>
<img src="{% static 'blog22.jpg'%}" width="80%" height="300px"/>
</center>
<h3>In this website user can create Blogs<br>
These Blogs can be read, update, delete & search<br><br>

Contact Us:<br>
<h4>Mobile no: 972548xxxx<br>
Email Id: csblog@gmail.com<br><br></h4>
<h3>
    Address:
  <center>  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d60140.7086192787!2d74.21184647505146!3d19.593311863406342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1656659463208!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </center>
    {% endblock %}