{% extends 'home.html' %}
{% block content %}
{% load static %}
<center><h1>Ask A Question To Me!!!!</h1></center>
    <div class="container1">
      <div class="left1" style="margin-left:50px;">
        <img src="{% static 'chatbot1.gif'%}" width="50%" height="auto"/>
      </div>
      <div class="right1">
        <center style="margin-right:200px;">
            <iframe src='https://webchat.botframework.com/embed/demoqnamaker1001?s=NPI3yZ8TCkU.Sdfu4nP4k1-Nk7AxhwH-Snyc_rG5DNRnWqOBKh9v2w4'  style='min-width: 400px; width: 80%; min-height: 500px;border: 1px solid black; ' frameborder="1"></iframe>
        </center>
      </div>
    </div>
{% endblock %}